@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #62a110;
}

.whitespace {
  white-space: pre-wrap;
  font-family: "Tilt Prism", cursive;
  font-size: 2.5em;
  color: rgb(18, 18, 173);
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 60vh;
}

.button {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 16px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background: transparent;
  border: 1px solid #fff;
  margin: 0 auto;
  cursor: pointer;
}

a,
.button {
  background-color: rgb(202, 199, 14);
  color: #0a3eb1;
  text-decoration: none;
}
